**
!.pnpmfile.cjs
!bin/*
!data/*
!index.cjs
!lib/*
!LICENSE
!package.json
!plugins/**
plugins/.gitkeep
plugins/.npmignore
plugins/**/node_modules
!pnpm-lock.yaml
!*.md
# Required for debian images
!ci/images/debian/install.sh