**
!.pnpmfile.cjs
!bin/*
!ci/images/debian/install.sh
!ci/images/nuget/**
!data/*
!index.cjs
!lib/*
!LICENSE
!package.json
!plugins/**
plugins/.gitkeep
plugins/.npmignore
plugins/**/node_modules
!pnpm-lock.yaml
!*.md
