# see https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners


# all maintainers are default-reviewers of new pull requests.
# see https://github.com/orgs/CycloneDX/teams/javascript-maintainers
*  @CycloneDX/javascript-maintainers
