name: docker tests

on:
  push:
    branches:
      - master
      - feature/*
      - release/*
      - fix/*
  workflow_dispatch:

jobs:
  linux-tests:
    runs-on: ubuntu-latest
    if: "! contains(github.event.head_commit.message, '[ci skip]')"
    strategy:
      matrix:
        node-version: [18.x]

    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: npm install, build and test
        run: |
          npm install
          npm run build --if-present
          npm test
          npm install -g @cyclonedx/cdxgen-plugins-bin
          mkdir -p bomresults repotests
        env:
          CI: true
      - uses: actions/checkout@v3
        with:
          repository: 'grafana-operator/grafana-operator'
          path: 'repotests/grafana-operator'
      - name: dockertests
        run: |
          wget https://github.com/CycloneDX/cyclonedx-cli/releases/download/v0.24.2/cyclonedx-linux-x64
          mv cyclonedx-linux-x64 cyclonedx
          chmod +x cyclonedx
          pip install -r contrib/requirements.txt
          bin/cdxgen.js phpmyadmin@sha256:1092481630056189e43cc0fe66fd01defcc9334d78ab4611b22f65e9a39869bd -p -o bomresults/bom-phpmyadmin.json
          python contrib/bom-validate.py --json bomresults/bom-phpmyadmin.json
          bin/cdxgen.js shiftleft/scan-slim -o bomresults/bom-scanslim.json -p -t docker
          python contrib/bom-validate.py --json bomresults/bom-scanslim.json
          bin/cdxgen.js redmine@sha256:a5c5f8a64a0d9a436a0a6941bc3fb156be0c89996add834fe33b66ebeed2439e -p -o bomresults/bom-redmine.json
          python contrib/bom-validate.py --json bomresults/bom-redmine.json
          bin/cdxgen.js rocket.chat@sha256:379f7afa0e67497c363ac9a9b3e7e6a6d31deee228233307c987e4a0c68b28e6 -p -o bomresults/bom-rocket.json
          python contrib/bom-validate.py --json bomresults/bom-rocket.json
          bin/cdxgen.js sonarqube@sha256:7c0edcb99c964984db6d24330db33bb12de1e8ae0d5974d77640b1efea1483d1 -p -o bomresults/bom-sonar.json
          python contrib/bom-validate.py --json bomresults/bom-sonar.json
          bin/cdxgen.js zookeeper@sha256:5bf00616677db5ef57d8a2da7c5dadf67f1a6be54b0c33a79be3332c9c80aeb6 -p -o bomresults/bom-zoo.json
          python contrib/bom-validate.py --json bomresults/bom-zoo.json
          docker pull shiftleft/scan-slim:latest
          docker save -o /tmp/scanslim.tar shiftleft/scan-slim:latest
          bin/cdxgen.js /tmp/scanslim.tar -o bomresults/bom-scanarch.json
          python contrib/bom-validate.py --json bomresults/bom-scanarch.json
          bin/cdxgen.js -t docker-compose test/data -o bomresults/bom-dc.json
          python contrib/bom-validate.py --json bomresults/bom-dc.json
          bin/cdxgen.js -t operator repotests/grafana-operator -o bomresults/bom-op.json
          python contrib/bom-validate.py --json bomresults/bom-op.json
          ls -ltr bomresults
      - uses: actions/upload-artifact@v1
        with:
          name: bomresults
          path: bomresults

  os-tests:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x]

    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: npm install, build and test
        run: |
          npm install
          npm run build --if-present
          npm install -g @cyclonedx/cdxgen-plugins-bin
          mkdir -p bomresults
        env:
          CI: true
      - name: ostests
        run: |
          wget https://github.com/CycloneDX/cyclonedx-cli/releases/download/v0.24.2/cyclonedx-linux-x64
          mv cyclonedx-linux-x64 cyclonedx
          chmod +x cyclonedx
          pip install -r contrib/requirements.txt
          bin/cdxgen.js -t os -o bomresults/bom-os.json
          python contrib/bom-validate.py --json bomresults/bom-os.json
        env:
          CDXGEN_DEBUG_MODE: debug
      - uses: actions/upload-artifact@v1
        with:
          name: bomresults-os
          path: bomresults

  win-tests:
    runs-on: windows-latest

    strategy:
      matrix:
        node-version: [18.x]

    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - name: npm install, build
        run: |
          npm install
          npm run build --if-present
          mkdir bomresults
          npm install -g @cyclonedx/cdxgen-plugins-bin
        env:
          CI: true
      - name: wintests
        run: |
          Invoke-WebRequest -Uri https://github.com/CycloneDX/cyclonedx-cli/releases/download/v0.24.2/cyclonedx-win-x64.exe -UseBasicParsing -OutFile cyclonedx.exe
          node bin/cdxgen.js -t os -o bomresults/bom-win.json
          .\cyclonedx.exe validate --fail-on-errors --input-file bomresults\\bom-win.json --input-format json --input-version v1_4
          dir bomresults
        env:
          CDXGEN_DEBUG_MODE: debug
      - uses: actions/upload-artifact@v1
        with:
          name: bomresults-win
          path: bomresults
