name: Biome

on:
  pull_request:
    paths:
      - '.github/workflows/lint.yml'
      - '**.cjs'
      - '**.js'
      - '**.json'
      - '!contrib/**'
      - '!data/**'
      - '!test/**'
  push:
    branches:
      - master
      - release/*
    paths:
      - '.github/workflows/lint.yml'
      - '**.cjs'
      - '**.js'
      - '**.json'
      - '!contrib/**'
      - '!data/**'
      - '!test/**'
  workflow_dispatch:

# https://docs.github.com/en/actions/writing-workflows/choosing-what-your-workflow-does/controlling-permissions-for-github_token
permissions: {}

jobs:
  lint:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false
      - name: Setup pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version-file: .nvmrc
      - name: Check Linting
        run: |
          pnpm install --config.strict-dep-builds=true
          pnpm run lint:check
        env:
          CI: true
