name: Biome

on:
  push:
    branches:
      - master
    tags:
    - 'v*'
  workflow_dispatch:
  pull_request:
jobs:
  lint:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4
        with:
          node-version-file: .nvmrc
      - name: Check Linting
        run: |
          npm install --global corepack@latest
          corepack enable
          corepack pnpm install --config.strict-dep-builds=true
          corepack pnpm run lint:check
        env:
          CI: true
