name: Node CI

on:
  push:
    branches:
      - master
      - feature/*
      - release/*
      - fix/*
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x, 18.x, 20.x]

    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - name: npm install, build and test
        run: |
          npm install
          npm run build --if-present
          npm run lint
          npm test
        env:
          CI: true
  pkg:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18.x
      - name: Produce pkg - lts
        run: |
          sudo npm install -g pkg
          npm install
          pkg -t node18-linux,node18-win,node18-mac package.json --out-path dist
      - name: Test pkg
        run: |
          chmod +x dist/cdxgen*
          ./dist/cdxgen-linux -v
          ./dist/cdxgen-linux . -p
      - uses: actions/upload-artifact@v1
        with:
          name: dist
          path: dist
