name: Repo tests

on:
  push:
    branches:
      - master
      - feature/*
      - release/*
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-20.04

    strategy:
      matrix:
        node-version: [16.x]

    steps:
      - uses: actions/checkout@v1
      - name: Set up JDK 8 and SBT
        uses: olafurpg/setup-scala@v11
        with:
          java-version: adopt@1.8
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install bazelisk
        run: |
          curl -LO "https://github.com/bazelbuild/bazelisk/releases/download/v1.1.0/bazelisk-linux-amd64"
          sudo mv bazelisk-linux-amd64 /usr/local/bin/bazel
          sudo chmod +x /usr/local/bin/bazel
      - name: npm install, build and test
        run: |
          npm install
          npm run build --if-present
          npm test
          mkdir -p repotests
          mkdir -p bomresults
        env:
          CI: true
      - uses: actions/checkout@v2
        with:
          repository: 'ShiftLeftSecurity/shiftleft-csharp-example'
          path: 'repotests/shiftleft-csharp-example'
      - uses: actions/checkout@v2
        with:
          repository: 'ShiftLeftSecurity/shiftleft-java-example'
          path: 'repotests/shiftleft-java-example'
      - uses: actions/checkout@v2
        with:
          repository: 'ShiftLeftSecurity/shiftleft-ts-example'
          path: 'repotests/shiftleft-ts-example'
      - uses: actions/checkout@v2
        with:
          repository: 'ShiftLeftSecurity/shiftleft-go-example'
          path: 'repotests/shiftleft-go-example'
      - uses: actions/checkout@v2
        with:
          repository: 'prabhu/shiftleft-scala-example'
          path: 'repotests/shiftleft-scala-example'
      - uses: actions/checkout@v2
        with:
          repository: 'HooliCorp/vulnerable_net_core'
          path: 'repotests/vulnerable_net_core'
      - uses: actions/checkout@v2
        with:
          repository: 'HooliCorp/Goatly.NET'
          path: 'repotests/Goatly.NET'
      - uses: actions/checkout@v2
        with:
          repository: 'HooliCorp/DjanGoat'
          path: 'repotests/DjanGoat'
      - uses: actions/checkout@v2
        with:
          repository: 'prabhu/Vulnerable-Web-Application'
          path: 'repotests/Vulnerable-Web-Application'
      - uses: actions/checkout@v2
        with:
          repository: 'prabhu/railsgoat'
          path: 'repotests/railsgoat'
      - uses: actions/checkout@v2
        with:
          repository: 'bazelbuild/examples'
          path: 'repotests/bazel-examples'
      - uses: actions/checkout@v2
        with:
          repository: 'flutter/gallery'
          path: 'repotests/gallery'
      - uses: actions/checkout@v2
        with:
          repository: 'gojek/ziggurat'
          path: 'repotests/ziggurat'
      - name: repotests
        run: |
          wget https://github.com/CycloneDX/cyclonedx-cli/releases/download/v0.22.0/cyclonedx-linux-x64
          mv cyclonedx-linux-x64 cyclonedx
          chmod +x cyclonedx
          bin/cdxgen -p -r -t csharp repotests/shiftleft-csharp-example -o bomresults/bom-csharp.json
          ./cyclonedx validate --input-file bomresults/bom-csharp.json --input-format json --input-version v1_4
          ./cyclonedx validate --input-file bomresults/bom-csharp.xml --input-format xml --input-version v1_4

          bin/cdxgen -p -r -t java repotests/shiftleft-java-example -o bomresults/bom-java.json
          ./cyclonedx validate --input-file bomresults/bom-java.json --input-format json --input-version v1_3
          ./cyclonedx validate --input-file bomresults/bom-java.xml --input-format xml --input-version v1_3

          bin/cdxgen -p -r -t js repotests/shiftleft-ts-example -o bomresults/bom-ts.json
          ./cyclonedx validate --input-file bomresults/bom-ts.json --input-format json --input-version v1_4
          ./cyclonedx validate --input-file bomresults/bom-ts.xml --input-format xml --input-version v1_4

          bin/cdxgen -p -r -t go repotests/shiftleft-go-example -o bomresults/bom-go.json
          ./cyclonedx validate --input-file bomresults/bom-go.json --input-format json --input-version v1_4
          ./cyclonedx validate --input-file bomresults/bom-go.xml --input-format xml --input-version v1_4

          bin/cdxgen -p -r -t csharp repotests/vulnerable_net_core -o bomresults/bom-csharp2.json
          ./cyclonedx validate --input-file bomresults/bom-csharp2.json --input-format json --input-version v1_4
          ./cyclonedx validate --input-file bomresults/bom-csharp2.xml --input-format xml --input-version v1_4

          bin/cdxgen -p -r repotests/Goatly.NET -o bomresults/bom-csharp3.json
          ./cyclonedx validate --input-file bomresults/bom-csharp3.json --input-format json --input-version v1_4
          ./cyclonedx validate --input-file bomresults/bom-csharp3.xml --input-format xml --input-version v1_4

          bin/cdxgen -p -r -t python repotests/DjanGoat -o bomresults/bom-python.json
          ./cyclonedx validate --input-file bomresults/bom-python.json --input-format json --input-version v1_4
          ./cyclonedx validate --input-file bomresults/bom-python.xml --input-format xml --input-version v1_4

          bin/cdxgen -p -r -t php repotests/Vulnerable-Web-Application -o bomresults/bom-php.json
          ./cyclonedx validate --input-file bomresults/bom-php.json --input-format json --input-version v1_4
          ./cyclonedx validate --input-file bomresults/bom-php.xml --input-format xml --input-version v1_4

          bin/cdxgen -p -r -t ruby repotests/railsgoat -o bomresults/bom-ruby.json
          ./cyclonedx validate --input-file bomresults/bom-ruby.json --input-format json --input-version v1_4
          ./cyclonedx validate --input-file bomresults/bom-ruby.xml --input-format xml --input-version v1_4

          bin/cdxgen -p -r -t java repotests/bazel-examples/java-maven -o bomresults/bom-bazel.json
          ./cyclonedx validate --input-file bomresults/bom-bazel.json --input-format json --input-version v1_4
          ./cyclonedx validate --input-file bomresults/bom-bazel.xml --input-format xml --input-version v1_4

          bin/cdxgen -p -r -t dart repotests/gallery -o bomresults/bom-pub.json
          ./cyclonedx validate --input-file bomresults/bom-pub.json --input-format json --input-version v1_4
          ./cyclonedx validate --input-file bomresults/bom-pub.xml --input-format xml --input-version v1_4

          bin/cdxgen -p -r -t clojure repotests/ziggurat -o bomresults/bom-clj.json
          ./cyclonedx validate --input-file bomresults/bom-clj.json --input-format json --input-version v1_4
          ./cyclonedx validate --input-file bomresults/bom-clj.xml --input-format xml --input-version v1_4
          ls -ltr bomresults
      - uses: actions/upload-artifact@v1
        with:
          name: bomresults
          path: bomresults
