name: Test BOM Snapshots

on:
  pull_request:
    paths:
      - '.github/workflows/snapshot-tests.yml'
      - 'bin/**'
      - 'data/**'
      - 'index.cjs'
      - 'lib/**'
      - 'LICENSE'
      - 'package.json'
      - 'types/**'
      - '!**.poku.js'
  push:
    branches:
      - release/*
    tags:
      - 'v*'
    paths:
      - '.github/workflows/snapshot-tests.yml'
      - 'bin/**'
      - 'data/**'
      - 'index.cjs'
      - 'lib/**'
      - 'LICENSE'
      - 'package.json'
      - 'types/**'
      - '!**.poku.js'
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

# https://docs.github.com/en/actions/writing-workflows/choosing-what-your-workflow-does/controlling-permissions-for-github_token
permissions: {}

jobs:

  test_non_dotnet:
    runs-on: ["snapshot-test"]
    steps:

      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Set up pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0

      - name: cdxgen, custom-json-diff installs
        shell: bash
        env:
          SHELL: bash
        run: |
          rm -rf original_snapshots new_snapshots src_repos
          cdxgen_tarball=$(pnpm pack | tail -1)
          sudo npm install -g "$cdxgen_tarball"
          git clone https://github.com/appthreat/cdxgen-samples.git original_snapshots
          python3.12 -m venv .venv
          source .venv/bin/activate && pip install setuptools==77.0.3 wheel
          source .venv/bin/activate && pip install -r test/diff/requirements.txt

      - name: Generate scripts
        run: |
          source .venv/bin/activate
          python test/diff/generate.py
        env:
          ATOM_JAVA_HOME: /usr/lib/jvm/java-21-openjdk-amd64
      - name: Upload shell scripts generated as artifact
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: scripts
          path: new_snapshots/*.sh

      - name: Run scripts
        env:
          PREFER_MAVEN_DEPS_TREE: false
          ATOM_JAVA_HOME: /usr/lib/jvm/java-21-openjdk-amd64
        run: |
          bash new_snapshots/cdxgen_commands.sh

      - name: Upload cdxgen boms
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: cdxgen_boms
          path: |
            new_snapshots

      - name: Test BOMs
        run: |
          source .venv/bin/activate
          python test/diff/diff_tests.py --migrate-legacy
          if test -f new_snapshots/diffs.json; then
            echo "status=FAILED" >> "$GITHUB_ENV"
          fi

      - name: Upload diff
        if: ${{ env.status == 'FAILED' }}
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: diffs
          path: |
            new_snapshots/diffs.json
            new_snapshots/*.html

      - name: Exit with error
        if: ${{ env.status == 'FAILED' }}
        run: exit 1
