name: Test BOM Snapshots

on:
  workflow_dispatch:
  pull_request:
    branches:
      - master


concurrency:
  group: "${{ github.workflow }}-${{ github.head_ref || github.run_id }}"
  cancel-in-progress: true


jobs:

  generate:
    runs-on: ubuntu-latest
    steps:

      - uses: actions/checkout@v4

      - name: Setup Node.js environment
        uses: actions/setup-node@v4.0.1
        with:
          node-version: '23.x'

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.12

      - uses: pnpm/action-setup@v4

      -  name: cdxgen, sdkman, custom-json-diff installs
         shell: bash
         env:
           SHELL: bash
         run: |
           cdxgen_tarball=$(pnpm pack | tail -1)
           npm install -g "$cdxgen_tarball"
           python -m pip install --upgrade pip
           python -m pip install pytest
           git clone https://github.com/appthreat/cdxgen-samples.git /home/runner/work/original_snapshots
           python -m pip install -r test/diff/requirements.txt
           curl -s "https://get.sdkman.io" | bash
           source "/home/runner/.sdkman/bin/sdkman-init.sh"

      - name: sdkman install cache
        uses: actions/cache@v4
        id: sdkman-cache
        with:
          path: /home/runner/.sdkman/candidates
          key: "${{ runner.os }}-sdkman-${{ hashFiles('test/diff/repos.csv') }}"

      - name: Generate and run scripts
        env:
          SDKMAN_DIR: /home/runner/.sdkman
          CDXGEN_DEBUG_MODE: debug
          CDXGEN_LOG: /home/runner/work/new_snapshots/generate.log
          PREFER_MAVEN_DEPS_TREE: false
        run: |
          mkdir /home/runner/work/new_snapshots
          python test/diff/generate.py
          bash /home/runner/work/new_snapshots/sdkman_installs.sh
          bash /home/runner/work/new_snapshots/cdxgen_commands.sh

      - name: Upload shell scripts generated as artifact
        uses: actions/upload-artifact@v4
        with:
          name: scripts
          path: /home/runner/work/new_snapshots/*.sh

      - name: Upload cdxgen boms
        uses: actions/upload-artifact@v4
        with:
          name: cdxgen_boms
          path: |
            /home/runner/work/new_snapshots

      - name: Test BOMs
        run: |
          python test/diff/diff_tests.py --migrate-legacy
          if test -f /home/runner/work/new_snapshots/diffs.json; then
            echo "status=FAILED" >> "$GITHUB_ENV"
          fi

      - name: Upload diff
        if: ${{ env.status == 'FAILED' }}
        uses: actions/upload-artifact@v4
        with:
          name: diffs
          path: |
            /home/runner/work/new_snapshots/diffs.json
            /home/runner/work/new_snapshots/*.html

      - name: Exit with error
        if: ${{ env.status == 'FAILED' }}
        run: exit 1
