name: Test BOM Snapshots

on:
  workflow_dispatch:
    inputs:
      debug-cmds:
        description: Don't execute commands, just print and upload shell files
        required: false
        type: boolean
        default: false


concurrency:
  group: "${{ github.workflow }}-${{ github.head_ref || github.run_id }}"
  cancel-in-progress: true


jobs:

  generate:
    runs-on: ubuntu-latest
    steps:

      - name: Echo inputs
        run: |
          echo "debug-cmds: ${{ inputs.debug-cmds }}"
          echo "github.actor: ${{ github.actor }}"
          echo "FILTER: ${{ env.FILTER }}"

      - uses: actions/checkout@v4

      - name: Setup Node.js environment
        uses: actions/setup-node@v4.0.1
        with:
          node-version: 21

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.12

      -  name: Atom, cdxgen, sdkman, custom-json-diff installs
         run: |
           cdxgen_version=$(npm pack | tail -1)
           npm install -g "$cdxgen_version"
           python -m pip install --upgrade pip
           python -m pip install pytest
           git clone https://github.com/appthreat/custom-json-diff.git /home/runner/work/custom-json-diff
           cd /home/runner/work/custom-json-diff
           python -m pip install .
           npm install -g @appthreat/atom
           curl -s "https://get.sdkman.io" | bash
           source "/home/runner/.sdkman/bin/sdkman-init.sh"

      - name: sdkman install cache
        uses: actions/cache@v4
        id: sdkman-cache
        with:
          path: /home/runner/.sdkman/candidates
          key: "${{ runner.os }}-sdkman-${{ hashFiles('test/diff/repos.csv') }}"

      - name: Generate and run scripts
        env:
          SDKMAN_DIR: /home/runner/.sdkman
          CDXGEN_DEBUG_MODE: debug
        run: |
          mkdir /home/runner/work/cdxgen-samples
          python test/diff/generate.py
          bash /home/runner/work/cdxgen-samples/sdkman_installs.sh
          bash /home/runner/work/cdxgen-samples/cdxgen_commands.sh

      - name: Upload shell scripts generated as artifact
        uses: actions/upload-artifact@v4
        with:
          name: scripts
          path: /home/runner/work/cdxgen-samples/*.sh

      - name: Upload cdxgen boms
        uses: actions/upload-artifact@v4
        with:
          name: cdxgen_boms
          path: |
            /home/runner/work/cdxgen-samples

      - name: Run python tests
        run: |
          python -m pytest test/diff/diff_tests.py
