name: Test NodeJS nightly build

on:
  schedule:
    - cron: "0 10 * * *"
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

# https://docs.github.com/en/actions/writing-workflows/choosing-what-your-workflow-does/controlling-permissions-for-github_token
permissions: {}

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        os: [ 'macos-14', 'macos-14-large', 'ubuntu-24.04', 'ubuntu-24.04-arm', 'windows-11-arm', 'windows-2022' ]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false
